server:
  port: ${SERVER_PORT:8800}

logging:
  level:
    root: INFO
    org.hibernate: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.type.descriptor.sql.BasicExtractor: TRACE

management:
  security:
    # 设置actuator的链接不需要权限
    # 也可以添加spring-boot-starter-security，然后有ACTUATOR角色的用户将可以访问对应链接
    enabled: false

spring:
  datasource:
    # 使用阿里的Druid连接池
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://${MYSQL_DB_HOSTNAME:127.0.0.1}:${MYSQL_DB_PORT:3306}/blog?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8
    driver-class-name: com.mysql.jdbc.Driver
    username: ${MYSQL_DB_USERNAME:root}
    password: ${MYSQL_DB_PASSWORD:root}
#    druid:
#      initialSize: 5
#      minIdle: 5
#      maxActive: 500
#      maxWait: 60000
#      timeBetweenEvictionRunsMillis: 60000
#      minEvictableIdleTimeMillis: 360000
#      validationQuery: SELECT 1 FROM DUAL
#      testWhileIdle: true
#      testOnBorrow: false
#      testOnReturn: false
#      poolPreparedStatements: true
#      maxPoolPreparedStatementPerConnectionSize: 20
#      filters: stat,wall,log4j
#      connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
#      # 配置DruidStatFilter
#      web-stat-filter:
#        enabled: true
#        url-pattern: "/*"
#        exclusions: "*.js,*.gif,*.jpg,*.bmp,*.png,*.css,*.ico,/druid/*"
#      # 配置DruidStatViewServlet
#      stat-view-servlet:
#        url-pattern: "/druid/*"
#        # IP白名单(没有配置或者为空，则允许所有访问)
#        allow: 127.0.0.1,192.168.163.1
#        # IP黑名单 (存在共同时，deny优先于allow)
#        deny: 192.168.1.73
#        #  禁用HTML页面上的“Reset All”功能
#        reset-enable: false
#        # 登录名
#        login-username: admin
#        # 登录密码
#        login-password: 123456
#TkMybatis
#mybatis:
#  mapper-locations: classpath*:mapper/*.xml
#  type-aliases-package: cn.chay.entity